@tailwind base;
@tailwind components;
@tailwind utilities;

.green-text {
  color: #00ff00;
}
.cyan-text {
  color: #00ffff;
}
.magenta-text {
  color: #ff00ff;
}
.yellow-text {
  color: #ffff00;
}
.white-text {
  color: #ffffff;
}
